@import 'src/assets/styles/variables';

.buttonWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	> div {
		width: 48%;
		> button {
			width: 100%;
		}
		&:last-child > button {
			// background-color: $pink;
			// opacity: 0.9;
			transition: opacity 0.15s ease;
			&:hover {
				background-color: $pink;
				opacity: 1;
			}
		}
	}
}


