@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Work+Sans:wght@400;500;600;700&display=swap');

$primary: #f3f235;
$white: #fafafa;
$black: #131313;
$dark-primary: darkest($primary, 10%);
$pink: #ff2e63;
$orange: #ff6800;

$bx-primary: 0 10px 20px rgba(0, 0, 0, 0.5);
$bx-16: 0 3px 6px rgba(0, 0, 0, 0.16);

$defaul-font: 'Work Sans', sans-serif;

$mobile: 480px;
